.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.character-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    padding: 1rem;
}

.character-card {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 60%;
        object-fit: cover;
        border-radius: 5px;
    }
}